<%- include("partials/header.ejs") %>
    <div class="heading">
        <h1>Your Book Notes</h1>
        <p>This Book Notes app helps you keep track of the books you’ve read. You can store details such as the date you
            read them, your rating, and the best parts of the book in your own words as personal notes.
        </p>
        <div id="sort-options">
            <div>
                <p>Filter the books by</p>
                <!-- Filter by name -->
                <form action="/filter" method="post">
                    <input type="hidden" name="filter" value="name">
                    <button class="btn" type="submit">Name</button>
                </form>
                <!-- Filter by rating -->
                <form action="/filter" method="post">
                    <input type="hidden" name="filter" value="rating">
                    <button class="btn" type="submit">Rating</button>
                </form>
                <!-- Filter by date -->
                <form action="/filter" method="post">
                    <input type="hidden" name="filter" value="date">
                    <button class="btn" type="submit">Read Date</button>
                </form>
            </div>
            <div>
                <p>Want to add a new book</p>
                <a href="/search" class="btn"> Add a book</a>
            </div>
        </div>
        <div id="books">
            <% if(locals.books) {%>
                <% books.forEach((element)=> { %>
                    <div class="card">
                        <% if(element.cover_i) { %>
                            <span> <img src="https://covers.openlibrary.org/b/id/ <%= element.cover_i %> -M.jpg" alt="Book
                                Cover
                                image"> </span>
                            <% } else { %>
                                <span> <img src="./images/avatar_book.png" alt="Book
                                    Cover
                                    image"> </span>
                                <% } %>

                                    <div class="details">
                                        <h1>
                                            <%= element.book_name %>
                                        </h1>
                                        <h3>Author Name: <%= element.author_name;%>
                                        </h3>
                                        <span>Published Year: <%= element.pub_date %></span>
                                        <span>Date read: <%= element.date_read; %>
                                        </span>
                                        <form action="/viewnotes" method="post">
                                            <input type="hidden" name="notes" value=' <%=JSON.stringify(element) %>'>
                                            <button class="btn"> View Notes</button>
                                        </form>
                                    </div>

                    </div>
                    <% }); %>
                        <% } else { %>
                            <% if(locals.error) { %>
                                <p>
                                    <%= error %>
                                </p>
                                <% } else { %>
                                    <p>Add a book to show</p>
                                    <% } %>
                                        <%} %>
        </div>

        <%- include("partials/footer.ejs") %>